1.Unique word in a sentence

In [ ]:
sentence=input("Enter the sentence:")
se_spl=sentence.split()
remove_dup=set(se_spl)
print(len(remove_dup))
print(remove_dup)

Enter the sentence:python is easy and python is powerful
5
{'is', 'and', 'powerful', 'easy', 'python'}

2.Highest Salary from employee data

In [ ]:
employees={"Ravi":75000,"Ankita":68000,"Kiran":72000}
highest_employee=" "
highest_salary=0
for name,salary in employees.items():
  if salary>highest_salary:
    highest_salary=salary
    highest_employee=name
print("Highest Salary:",highest_employee,"-",highest_salary)

Highest Salary: Ravi - 75000

3.Find maximum and minimum values

In [ ]:
numbers = [45, 22, 89, 10, 66]
maximum = numbers[0]
minimum = numbers[0]
for num in numbers:
    if num > maximum:
        maximum = num
    if num < minimum:
        minimum = num
print("List:", numbers)
print("Max:", maximum)
print("Min:", minimum)

List: [45, 22, 89, 10, 66]
Max: 89
Min: 10

4.Count Products Above a Price Threshold

In [1]:
prices = [450, 1200, 899, 1500, 300]
count = len([price for price in prices if price > 1000])
print("Products above 1000:", count)

Products above 1000: 2

5.Calculate Attendence Percentage

In [2]:
attendance = ["P", "P", "A", "P", "P"]
present_count = 0
total_days = len(attendance)
for day in attendance:
    if day == "P":
        present_count += 1
percentage = (present_count / total_days) * 100
print("Attendance Percentage:", percentage)

Attendance Percentage: 80.0

6.Remove Duplicate Phone Numbers

In [3]:
phone_numbers = [9876543210, 9123456789, 9876543210]
unique_numbers = set(phone_numbers)
print("Unique phone numbers:", unique_numbers)

Unique phone numbers: {9876543210, 9123456789}

7.Count Character Frequency

In [4]:
text = "python"
char_count = {}
for char in text:
    char_count[char] = text.count(char)
print(char_count)

{'p': 1, 'y': 1, 't': 1, 'h': 1, 'o': 1, 'n': 1}

8.Covert List to Tuple

In [5]:
numbers = [10, 20, 30]
result = tuple(numbers)
print("Tuple:", result)

Tuple: (10, 20, 30)

9.Check if a Key Exists in a Dictionary

In [6]:
data = {"Employee": "Alice", "Age": 22, "Department": "IT"}
if "Employee" in data:
    print("Employee exists")
else:
    print("Employee does not exist")

Employee exists

10.Calculate Average Marks

In [7]:
marks = [65, 70, 75, 80]
average = sum(marks) / len(marks)
print("Average Marks:", average)

Average Marks: 72.5